body {
    background-image: url("../img/login.jpg");
    font-family: 'Catamaran', sans-serif;
}

#login {
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}

.form-control {
    margin-bottom: 5px;
}